<% layout ("/layouts/boilerplate")%>
<body>
  <div class="row mt-3 ">
    <div class="col-8 offset-3 show-card ">
     <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-3 show-card listingcard">
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
  <div class="card-body">
    <div class="card-body">
  <p class="card-text">
    Owned by 
    <% if (listing.owner && listing.owner.username) { %>
      <i><%= listing.owner.username %></i>
    <% } else { %>
      <i>Unknown Owner</i>
    <% } %>
  </p>
  
    <p class="card-text"> 
         <%= listing.description %>
         </p>
    <p class="card-text"> 
        Price: &#8377  <%= listing.price.toLocaleString('en-In') %> 
    </p>
     <p class="card-text">
         Location: <%= listing.location %>
         </p>
     <p class="card-text">
         Country: <%= listing.country %> 
        </p>
  </div>
    </div>

    <% if (currUser && listing.owner && listing.owner._id && listing.owner._id.equals(currUser._id)) { %>
      <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-2 offset-3 edit-btn">Edit</a>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
          <button class="btn btn-dark offset-4">Delete</button>
        </form>
      </div>
    <% } %>    


    <% if(currUser) { %>
    <div class="col-8 offset-3 mb-3">
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews"
             method="POST"
             novalidate 
            class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input
                    type="range"
                    min="1"
                    max="5"
                    id="rating"
                    name="review[rating]"
                    class="form-range"
                    required
                />
                <div class="invalid-feedback">
                    Please select a rating.
                </div>
            </div>
    
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea
                    name="review[comment]"
                    id="comment"
                    cols="40"
                    rows="3"
                    class="form-control"
                    required
                ></textarea>
                <div class="invalid-feedback">
                    Please enter a comment.
                </div>
            </div>
    
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
      <% } %>
        <hr/>
    <p><b> All Reviews</b> </p>
    <div class="row">
      <% for (let review of listing.reviews) { %>
        <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <% if (review.author && review.author.username) { %>
                        <%= review.author.username %>
                    <% } else { %>
                        Anonymous
                    <% } %>
                </h5>
                <p class="card-text"> <%= review.comment %> </p>
                <p class="card-text"> <%= review.rating %> Stars </p>
            </div>
            <% if (currUser && review.author && review.author._id.equals(currUser._id)) { %>
                <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                    <button class="btn btn-sm btn-dark">Delete Your Review</button>
                </form>
            <% } %>
        </div>
      <% } %>
      
    </div>
      </div> 
    </div>
    
</body>

